---
import waait from 'waait';
import Layout from "../layouts/Layout.astro";
//import samples from '../common/js_objects/samples.js';
import training from '../common/js_objects/training';
import testing from '../common/js_objects/testing';
import utils from '../common/utils.js';


const trainingSamples = [...training.samples];
const testingSamples = [...testing.samples];
// when testing we pretend the testing samples don't have labels

let totalCount = 0;
let correctCount = 0;

for(let testSample of testingSamples) {
  
    //console.log(testSample.label);

  

    testSample.truth = testSample.label //we need the truth attribute when calculating accuracy
    testSample.label = '?';

    
    const res = await utils.classify(testSample.point,trainingSamples,5);
    console.log(res,res.label);

    await waait(20);

    testSample.label = res.label;
    if(res.label === testSample.truth) {
      correctCount++;
    }
    totalCount++;
    
    /* console.log('2',testSample.label);
    testSample.label = label;
    if(label === testSample.truth) {
      correctCount++;
    }
    totalCount++; */
   
}


console.log({correctCount, totalCount, accuracy:correctCount/totalCount});



const dataTraining = await utils.groupByV2('student_id',trainingSamples);
const studentsTraining = await utils.byStudentV2(dataTraining);

const dataTesting = await utils.groupByV2('student_id',testingSamples);
const studentsTesting = await utils.byStudentV2(dataTesting);


---
<Layout title="Visualizer">
  <header >
    <h1>Visualizer</h1>
    <button>Show Sketchpad</button>
  </header>
  <main >

    <section class="app-container">

    <div class="container">
     
      <div class="sketchpad-container">

      </div>
   
      <div class="chart-container">
  
      </div>

      <div class="visualizer-container">
        <h2>Accuracy:  %</h2>
        {
          studentsTraining.map((student) => {
            return (
              <section>
                <h2>{student.student}</h2> 
                <div class="visualizer">
                {
                  student.drawings.map((drawing) => {
                   
                    return (
                      <div class={`drawing`} data-sample={drawing.id} id={`sample_${drawing.id}`}>
                        <h3>{drawing.drawing}</h3>
                        <img src={`/data/img/${drawing.img}`} decoding="async"
                        loading="lazy" alt={drawing.drawing} />
                      </div>
                    )
                  })
                }
                </div>
              </section>
            )
          })
        }
        <h2>Testing</h2>

{
  studentsTesting.map((student) => {
    return (
      <section>
        <h2>{student.student}</h2> 
        <div class="visualizer">
        {
          student.drawings.map((drawing) => {
           
            
            return (
              <div class={`drawing ${drawing.correct?'correct':''}`} data-sample={drawing.id} id={`sample_${drawing.id}`}>
                <h3>{drawing.drawing}</h3>
                <img src={`/data/img/${drawing.img}`} decoding="async"
                loading="lazy" alt={drawing.drawing} />
              </div>
            )
          })
        }
        </div>
      </section>
    )
  })
}
      </div>
    </div>
    
  </main>
</section>
</Layout>

<style>

  body {
    color: white;
    width: 100% !important;
    
    padding-top: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem ;
    padding-bottom: 2rem;

  }

  main {
    position: relative;
  }
  .app-container.hide-image-grid::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(220, 10%, 40%,0.8);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1rem;
  }
  .visualizer-container {
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
  }

  .visualizer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap:1rem;
   
    
  }
  .drawing {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 2rem 2rem;
    color: black;
    font-size: .8rem;
  }

  .drawing.correct {
    background-color: hsl(84, 56%, 63%);
  }

  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  .emphasize {
    background-color: hsl(12, 80%, 59%);
  }
  .sketchpad-container {
    position: fixed;
    left: 0;
    margin-left: 2rem;
    top: 70%;
    transform: translateY(-70%);
    background-color: white;
    padding: 1rem;
    z-index: 1;
    display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
    
  }
  .chart-container {
    z-index: 1;
    position: fixed;
    right: 0;
    margin-right: 2rem;
    top: 70%;
    transform: translateY(-70%);
  }
  
</style>

<script>
  import waait from 'waait';
  import features from '../common/js_objects/features.js';
  import training from '../common/js_objects/training';
  import testing from '../common/js_objects/testing';


  import minMax from '../common/js_objects/minMax';
  import utils from '../common/utils.js';
  import Chart from '../js/chart.js';
  import graphics from '../js/graphics.js';

  import { Sketchpad } from '../js/sketchPad.js';
  import featureUtils from '../common/features.js';
  const container = document.querySelector('.sketchpad-container');
  const labelEl = document.createElement('p');

  labelEl.style.color = 'hsl(122, 80%, 19%)';
  labelEl.style.fontSize = '2rem';
  container.appendChild(labelEl);


  const { featureNames,samples } = features;
  const trainingSamples = training.samples;

  const options = {
    size: 500,
    axesLabels: featureNames,
    styles: utils.styles,
    transparency: 0.7,
    icon: "text",
  }

  graphics.generateImages(utils.styles,15);


  const chart = new Chart(document.querySelector('.chart-container'), trainingSamples, options,handleClick);
  const drawings = document.querySelectorAll('.drawing');


  
  drawings.forEach((drawing) => {
    drawing.addEventListener('click', (e) => {
      const sample = samples.find(sample => sample.id === Number(e.currentTarget.dataset.sample));
      handleClick(sample,false);
    });
  });

  function handleClick(sample,doScroll=true) {
    if(!sample) {
      document.querySelectorAll('.emphasize').forEach(el => {
      el.classList.remove('emphasize');
    });
    return; 
    }
    
    const el = document.getElementById(`sample_${sample.id}`);

    if (el.classList.contains('emphasize')) {
      el.classList.remove('emphasize');
      chart.selectSample(null);
      return;
    }

    document.querySelectorAll('.emphasize').forEach(el => {
      el.classList.remove('emphasize');
    });


    el.classList.add('emphasize');
    if(doScroll) el.scrollIntoView({behavior: 'smooth'});
    chart.selectSample(sample);
  }

  async function onDrawingUpdate(paths){
    const funcs = featureUtils.inUse.map((feature) => {
        return feature.function;
    });
   
    const point = funcs.map((func) => {
      return func(paths);
    });

    utils.normalizePoints([point],minMax);

    const {label, nearestSamples} = await utils.classify(point,trainingSamples,8);
    
    showNearestLabel(label);

    chart.showDynamicPointK(point,label,nearestSamples);
  }

  function showNearestLabel(label) {
    labelEl.innerText = `Is it a ${label}?`;
  }

   new Sketchpad(container,onDrawingUpdate);

</script>
